In [10]:
from services.database import Database
from sqlalchemy import  Column, Integer, String, DateTime, Float
from sqlalchemy import inspect
Database.initialize()

In [11]:
inspector = inspect(Database.engine)
print(inspector.get_table_names())

['asset_id', 'currency_id', 'equities_series', 'equity_index_id', 'exchange_id', 'factor_id', 'factors', 'frequency_id', 'metric_id', 'source_id', 'ticker_id', 'ticker_index_membership', 'tiingo_tickers']

In [9]:
# for table_name in inspector.get_table_names():
#     Database.engine.execute("DROP TABLE " + table_name)

2023-04-24 14:31:19,343 INFO sqlalchemy.engine.Engine DROP TABLE index_id
2023-04-24 14:31:19,343 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 14:31:19,358 INFO sqlalchemy.engine.Engine COMMIT

In [22]:
class SourceId(Database.Base):
    """
    a table of the different datasources
    """
    __tablename__ = 'source_id'
    id = Column(Integer, primary_key=True)
    source = Column(String, primary_key = True)
    description = Column(String)
Database.create_table(SourceId)

2023-04-24 10:09:20,550 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 10:09:20,550 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("source_id")
2023-04-24 10:09:20,550 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:20,551 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("source_id")
2023-04-24 10:09:20,552 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:20,553 INFO sqlalchemy.engine.Engine
CREATE TABLE source_id (
	id INTEGER NOT NULL,
	source VARCHAR NOT NULL,
	description VARCHAR,
	PRIMARY KEY (id, source)
)


2023-04-24 10:09:20,553 INFO sqlalchemy.engine.Engine [no key 0.00040s] ()
2023-04-24 10:09:20,559 INFO sqlalchemy.engine.Engine COMMIT

In [23]:
class TickerId(Database.Base):
    """
    a table of the different tickers
    """
    __tablename__ = 'ticker_id'
    id = Column(Integer, primary_key=True)
    ticker_currency = Column(String, primary_key=True)
    ticker = Column(String)
    currency = Column(String)

Database.create_table(TickerId)

2023-04-24 10:09:20,867 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 10:09:20,867 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ticker_id")
2023-04-24 10:09:20,868 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:20,869 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ticker_id")
2023-04-24 10:09:20,869 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:20,870 INFO sqlalchemy.engine.Engine
CREATE TABLE ticker_id (
	id INTEGER NOT NULL,
	ticker_currency VARCHAR NOT NULL,
	ticker VARCHAR,
	currency VARCHAR,
	PRIMARY KEY (id, ticker_currency)
)


2023-04-24 10:09:20,871 INFO sqlalchemy.engine.Engine [no key 0.00067s] ()
2023-04-24 10:09:20,879 INFO sqlalchemy.engine.Engine COMMIT

In [24]:
class ExchangeId(Database.Base):
    """
    a table of the different exchanges
    """
    __tablename__ = 'exchange_id'
    id = Column(Integer, primary_key=True)
    exchange = Column(String, primary_key=True)

Database.create_table(ExchangeId)

2023-04-24 10:09:21,085 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 10:09:21,086 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("exchange_id")
2023-04-24 10:09:21,086 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:21,087 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("exchange_id")
2023-04-24 10:09:21,088 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:21,089 INFO sqlalchemy.engine.Engine
CREATE TABLE exchange_id (
	id INTEGER NOT NULL,
	exchange VARCHAR NOT NULL,
	PRIMARY KEY (id, exchange)
)


2023-04-24 10:09:21,089 INFO sqlalchemy.engine.Engine [no key 0.00054s] ()
2023-04-24 10:09:21,095 INFO sqlalchemy.engine.Engine COMMIT

In [25]:
class AssetId(Database.Base):
    """
    a table of different asset types
    """
    __tablename__ = 'asset_id'
    id = Column(Integer, primary_key=True)
    asset = Column(String, primary_key=True)

Database.create_table(AssetId)

2023-04-24 10:09:21,277 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 10:09:21,278 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("asset_id")
2023-04-24 10:09:21,278 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:21,279 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("asset_id")
2023-04-24 10:09:21,280 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:21,281 INFO sqlalchemy.engine.Engine
CREATE TABLE asset_id (
	id INTEGER NOT NULL,
	asset VARCHAR NOT NULL,
	PRIMARY KEY (id, asset)
)


2023-04-24 10:09:21,282 INFO sqlalchemy.engine.Engine [no key 0.00073s] ()
2023-04-24 10:09:21,289 INFO sqlalchemy.engine.Engine COMMIT

In [26]:
class CurrencyId(Database.Base):
    """
    a table of different currencies
    """
    __tablename__ = 'currency_id'
    id = Column(Integer, primary_key=True)
    currency = Column(String, primary_key=True)

Database.create_table(CurrencyId)

2023-04-24 10:09:21,466 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 10:09:21,466 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("currency_id")
2023-04-24 10:09:21,467 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:21,468 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("currency_id")
2023-04-24 10:09:21,468 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:21,469 INFO sqlalchemy.engine.Engine
CREATE TABLE currency_id (
	id INTEGER NOT NULL,
	currency VARCHAR NOT NULL,
	PRIMARY KEY (id, currency)
)


2023-04-24 10:09:21,470 INFO sqlalchemy.engine.Engine [no key 0.00045s] ()
2023-04-24 10:09:21,476 INFO sqlalchemy.engine.Engine COMMIT

In [27]:
class FrequencyId(Database.Base):
    """
    a table of different time frequencies
    """
    __tablename__ = 'frequency_id'
    id = Column(Integer, primary_key=True)
    frequency = Column(String, primary_key=True)

Database.create_table(FrequencyId)

2023-04-24 10:09:21,678 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 10:09:21,679 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("frequency_id")
2023-04-24 10:09:21,679 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:21,681 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("frequency_id")
2023-04-24 10:09:21,681 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:21,682 INFO sqlalchemy.engine.Engine
CREATE TABLE frequency_id (
	id INTEGER NOT NULL,
	frequency VARCHAR NOT NULL,
	PRIMARY KEY (id, frequency)
)


2023-04-24 10:09:21,683 INFO sqlalchemy.engine.Engine [no key 0.00072s] ()
2023-04-24 10:09:21,689 INFO sqlalchemy.engine.Engine COMMIT

In [28]:
class FactorId(Database.Base):
    """
    a table of ids for differen factor portfolios
    """
    __tablename__ = 'factor_id'
    id = Column(Integer, primary_key=True)
    factor = Column(String, primary_key=True)

Database.create_table(FactorId)

2023-04-24 10:09:21,840 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 10:09:21,841 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("factor_id")
2023-04-24 10:09:21,842 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:21,843 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("factor_id")
2023-04-24 10:09:21,843 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:21,844 INFO sqlalchemy.engine.Engine
CREATE TABLE factor_id (
	id INTEGER NOT NULL,
	factor VARCHAR NOT NULL,
	PRIMARY KEY (id, factor)
)


2023-04-24 10:09:21,845 INFO sqlalchemy.engine.Engine [no key 0.00036s] ()
2023-04-24 10:09:21,852 INFO sqlalchemy.engine.Engine COMMIT

In [29]:
class MetricId(Database.Base):
    """
    a table of metrics that we will store for fundamentals
    """
    __tablename__ = 'metric_id'
    id = Column(Integer, primary_key=True)
    metric = Column(String, primary_key=True)
    desc = Column(String)

Database.create_table(MetricId)

2023-04-24 10:09:22,034 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 10:09:22,035 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("metric_id")
2023-04-24 10:09:22,035 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:22,036 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("metric_id")
2023-04-24 10:09:22,037 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:22,038 INFO sqlalchemy.engine.Engine
CREATE TABLE metric_id (
	id INTEGER NOT NULL,
	metric VARCHAR NOT NULL,
	"desc" VARCHAR,
	PRIMARY KEY (id, metric)
)


2023-04-24 10:09:22,038 INFO sqlalchemy.engine.Engine [no key 0.00053s] ()
2023-04-24 10:09:22,045 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
class EquityIndexId(Database.Base):
    __tablename__ = 'equity_index_id'
    id = Column(Integer, primary_key=True)
    equity_index = Column(String, primary_key=True)

Database.create_table(EquityIndexId)

2023-04-24 14:29:39,173 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 14:29:39,173 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("equity_index_id")
2023-04-24 14:29:39,173 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 14:29:39,173 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("equity_index_id")
2023-04-24 14:29:39,173 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 14:29:39,188 INFO sqlalchemy.engine.Engine
CREATE TABLE equity_index_id (
	id INTEGER NOT NULL,
	equity_index VARCHAR NOT NULL,
	PRIMARY KEY (id, equity_index)
)


2023-04-24 14:29:39,188 INFO sqlalchemy.engine.Engine [no key 0.00115s] ()
2023-04-24 14:29:39,188 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
Database.engine.execute("DROP TABLE tickers")

In [7]:
class Tickers(Database.Base):
    __tablename__ = 'tiingo_tickers'
    id = Column(Integer, primary_key=True) #id will be unique with this data
    source = Column(String)
    ticker = Column(String)
    exchange = Column(String)
    assetType = Column(String)
    priceCurrency = Column(String)
    startDate = Column(DateTime)
    endDate = Column(DateTime)
Database.create_table(Tickers)

In [9]:
class Tickers_Index_Membership(Database.Base):
    __tablename__ = 'ticker_index_membership'
    id = Column(Integer, primary_key=True) #id will be int of concatenation of source_id, ticker_id, exchange_id, asset type id, currency_id
    source = Column(String)
    ticker = Column(String)
    equity_index = Column(String)
    priceCurrency = Column(String)
    startDate = Column(DateTime)
    endDate = Column(DateTime)
Database.create_table(Tickers_Index_Membership)

In [31]:
class Factors(Database.Base):
    __tablename__ = 'factors'
    id = Column(Integer, primary_key=True) #id will be concatention of source id, frequency id, factor id, date related integer
    source = Column(String)
    frequency = Column(String)
    factor = Column(String)
    date = Column(DateTime)
    ret = Column(Float)

Database.create_table(Factors)

2023-04-24 10:09:22,399 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 10:09:22,400 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("factors")
2023-04-24 10:09:22,401 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:22,401 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("factors")
2023-04-24 10:09:22,402 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 10:09:22,408 INFO sqlalchemy.engine.Engine
CREATE TABLE factors (
	id INTEGER NOT NULL,
	source VARCHAR,
	frequency VARCHAR,
	factor VARCHAR,
	date DATETIME,
	ret FLOAT,
	PRIMARY KEY (id)
)


2023-04-24 10:09:22,409 INFO sqlalchemy.engine.Engine [no key 0.00128s] ()
2023-04-24 10:09:22,415 INFO sqlalchemy.engine.Engine COMMIT

In [3]:
class EquitySeriesInfo(Database.Base):
    __tablename__ = 'equities_series'
    id = Column(Integer, primary_key=True) #source, frequency, ticker_currency, date
    source = Column(String)
    frequency = Column(String)
    ticker_currency = Column(String)
    date = Column(DateTime)
    close = Column(Float)
    high = Column(Float)
    low = Column(Float)
    open = Column(Float)
    volume = Column(Float)
    adjClose = Column(Float)
    adjHigh = Column(Float)
    adjLow = Column(Float)
    adjOpen = Column(Float)
    adjVolume = Column(Float)
    divCash = Column(Float)
    splitFactor = Column(Float)

Database.create_table(EquitySeriesInfo)

In [12]:
class Fundamentals(Database.Base):
    __tablename__ = 'fundamentals'
    id = Column(Integer, primary_key=True)
    source = Column(String)
    frequency = Column(String)
    metric = Column(String)
    ticker_currency = Column(String)
    date = Column(DateTime)
    value = Column(Float)

Database.create_table(Fundamentals)