In [1]:
from services.database import Database
from sqlalchemy import create_engine, Column, Integer, String, Table, MetaData

import pandas as pd
Database.initialize()

In [2]:
class MyTable(Database.Base):
    __tablename__ = 'my_table'
    #id = Column(Integer, primary_key=True)
    column1 = Column(String, primary_key=True)
    column2 = Column(Integer)

In [15]:
df = pd.DataFrame({'column1': ['a', 'b', 'c'], 'column2': [3, 2, 5]})

In [4]:
from sqlalchemy import inspect
engine = create_engine("sqlite:///financial_db.sqlite")
inspector = inspect(engine)
print(inspector.get_table_names())

['asset_id', 'currency_id', 'equities_closing_prices', 'exchange_id', 'factor_id', 'factors', 'frequency_id', 'fundamentals', 'source_id', 'ticker_id', 'tickers']

In [5]:
Database.query("SELECT * FROM my_table")

2023-04-24 06:55:13,422 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 06:55:13,423 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM my_table")
2023-04-24 06:55:13,424 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:13,425 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM my_table")
2023-04-24 06:55:13,425 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:13,426 INFO sqlalchemy.engine.Engine SELECT * FROM my_table
2023-04-24 06:55:13,427 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:13,428 INFO sqlalchemy.engine.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) no such table: my_table
[SQL: SELECT * FROM my_table]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [6]:
Database.create_table(MyTable)

2023-04-24 06:55:17,817 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 06:55:17,817 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("my_table")
2023-04-24 06:55:17,818 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:17,819 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("my_table")
2023-04-24 06:55:17,819 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:17,820 INFO sqlalchemy.engine.Engine
CREATE TABLE my_table (
	column1 VARCHAR NOT NULL,
	column2 INTEGER,
	PRIMARY KEY (column1)
)


2023-04-24 06:55:17,820 INFO sqlalchemy.engine.Engine [no key 0.00043s] ()
2023-04-24 06:55:17,827 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
Database.insert_from_df_by_name('my_table', df)

2023-04-24 06:56:41,786 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("my_table")
2023-04-24 06:56:41,786 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:56:41,787 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-04-24 06:56:41,788 INFO sqlalchemy.engine.Engine [raw sql] ('my_table',)
2023-04-24 06:56:41,789 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("my_table")
2023-04-24 06:56:41,789 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:56:41,790 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("my_table")
2023-04-24 06:56:41,791 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:56:41,792 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-04-24 06:56:41,792 INFO sqlalchemy.engine.Engine [raw sql] ('my_table',)
2023-04-24 06:56:41,793 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("my_table")
2023-04-24 06:56:41,863 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:56:41,865 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("my_table")
2023-04-24 06:56:41,865 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:56:41,866 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex_my_table_1")
2023-04-24 06:56:41,866 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:56:41,867 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-04-24 06:56:41,867 INFO sqlalchemy.engine.Engine [raw sql] ('my_table',)
2023-04-24 06:56:41,869 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 06:56:41,870 INFO sqlalchemy.engine.Engine INSERT INTO my_table (column1, column2) VALUES (?, ?) ON CONFLICT (column1) DO UPDATE SET column1 = ?, column2 = ?
2023-04-24 06:56:41,870 INFO sqlalchemy.engine.Engine [no key 0.00055s] ('a', 3, 'a', 3)
2023-04-24 06:56:41,873 INFO sqlalchemy.engine.Engine INSERT INTO my_table (column1, column2) VALUES (?, ?) ON CONFLICT (column1) DO UPDATE SET column1 = ?, column2 = ?
2023-04-24 06:56:41,874 INFO sqlalchemy.engine.Engine [no key 0.00092s] ('b', 2, 'b', 2)
2023-04-24 06:56:41,875 INFO sqlalchemy.engine.Engine INSERT INTO my_table (column1, column2) VALUES (?, ?) ON CONFLICT (column1) DO UPDATE SET column1 = ?, column2 = ?
2023-04-24 06:56:41,875 INFO sqlalchemy.engine.Engine [no key 0.00042s] ('c', 5, 'c', 5)
2023-04-24 06:56:41,876 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
Database.insert_from_df(MyTable, df)

2023-04-24 06:55:25,167 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 06:55:25,168 INFO sqlalchemy.engine.Engine INSERT INTO my_table (column1, column2) VALUES (?, ?) ON CONFLICT (column1) DO UPDATE SET column1 = ?, column2 = ?
2023-04-24 06:55:25,170 INFO sqlalchemy.engine.Engine [no key 0.00127s] ('a', 3, 'a', 3)
2023-04-24 06:55:25,171 INFO sqlalchemy.engine.Engine INSERT INTO my_table (column1, column2) VALUES (?, ?) ON CONFLICT (column1) DO UPDATE SET column1 = ?, column2 = ?
2023-04-24 06:55:25,172 INFO sqlalchemy.engine.Engine [no key 0.00040s] ('b', 2, 'b', 2)
2023-04-24 06:55:25,173 INFO sqlalchemy.engine.Engine INSERT INTO my_table (column1, column2) VALUES (?, ?) ON CONFLICT (column1) DO UPDATE SET column1 = ?, column2 = ?
2023-04-24 06:55:25,174 INFO sqlalchemy.engine.Engine [no key 0.00146s] ('c', 9, 'c', 9)
2023-04-24 06:55:25,175 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
Database.query("SELECT * FROM my_table")

2023-04-24 06:56:46,583 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 06:56:46,585 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM my_table")
2023-04-24 06:56:46,585 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:56:46,586 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM my_table")
2023-04-24 06:56:46,587 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:56:46,587 INFO sqlalchemy.engine.Engine SELECT * FROM my_table
2023-04-24 06:56:46,588 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:56:46,589 INFO sqlalchemy.engine.Engine COMMIT

  column1  column2
0       a        3
1       b        2
2       c        5

In [9]:
Database.Base.metadata.tables

FacadeDict({'my_table': Table('my_table', MetaData(), Column('column1', String(), table=<my_table>, primary_key=True, nullable=False), Column('column2', Integer(), table=<my_table>), schema=None)})

In [10]:
Database.copy_table(MyTable)

2023-04-24 06:55:43,639 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("my_table_prev")
2023-04-24 06:55:43,640 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:43,641 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("my_table_prev")
2023-04-24 06:55:43,641 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:43,643 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("my_table")
2023-04-24 06:55:43,643 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:43,645 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-04-24 06:55:43,646 INFO sqlalchemy.engine.Engine [raw sql] ('my_table',)
2023-04-24 06:55:43,646 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("my_table")
2023-04-24 06:55:43,647 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:43,648 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("my_table")
2023-04-24 06:55:43,648 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:43,649 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-04-24 06:55:43,649 INFO sqlalchemy.engine.Engine [raw sql] ('my_table',)
2023-04-24 06:55:43,650 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("my_table")
2023-04-24 06:55:43,650 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:43,652 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("my_table")
2023-04-24 06:55:43,652 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:43,653 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("sqlite_autoindex_my_table_1")
2023-04-24 06:55:43,653 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:43,655 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-04-24 06:55:43,655 INFO sqlalchemy.engine.Engine [raw sql] ('my_table',)
2023-04-24 06:55:43,656 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 06:55:43,657 INFO sqlalchemy.engine.Engine
CREATE TABLE my_table_prev (
	column1 VARCHAR NOT NULL,
	column2 INTEGER,
	PRIMARY KEY (column1)
)


2023-04-24 06:55:43,658 INFO sqlalchemy.engine.Engine [no key 0.00052s] ()
2023-04-24 06:55:43,666 INFO sqlalchemy.engine.Engine COMMIT
2023-04-24 06:55:43,667 INFO sqlalchemy.engine.Engine INSERT INTO my_table_prev SELECT * FROM my_table
2023-04-24 06:55:43,668 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:43,669 INFO sqlalchemy.engine.Engine COMMIT

C:\Users\david\PycharmProjects\FiMongoDB\services\database.py:44: SAWarning: Table 'my_table' already exists within the given MetaData - not copying.
  new_table = original_table.tometadata(metadata)

In [11]:
inspector = inspect(engine)
print(inspector.get_table_names())

['asset_id', 'currency_id', 'equities_closing_prices', 'exchange_id', 'factor_id', 'factors', 'frequency_id', 'fundamentals', 'my_table', 'my_table_prev', 'source_id', 'ticker_id', 'tickers']

In [12]:
Database.query("SELECT * FROM my_table")

2023-04-24 06:55:56,267 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 06:55:56,269 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM my_table")
2023-04-24 06:55:56,269 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:56,270 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM my_table")
2023-04-24 06:55:56,271 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:56,271 INFO sqlalchemy.engine.Engine SELECT * FROM my_table
2023-04-24 06:55:56,272 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:56,273 INFO sqlalchemy.engine.Engine COMMIT

  column1  column2
0       a        3
1       b        2
2       c        9

In [13]:
Database.query("SELECT * FROM my_table_prev")

2023-04-24 06:55:57,427 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-24 06:55:57,429 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM my_table_prev")
2023-04-24 06:55:57,431 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:57,433 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM my_table_prev")
2023-04-24 06:55:57,434 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:57,436 INFO sqlalchemy.engine.Engine SELECT * FROM my_table_prev
2023-04-24 06:55:57,436 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:55:57,438 INFO sqlalchemy.engine.Engine COMMIT

  column1  column2
0       a        3
1       b        2
2       c        9

In [18]:
Database.engine.execute("DROP TABLE my_table")

2023-04-24 06:56:59,247 INFO sqlalchemy.engine.Engine DROP TABLE my_table
2023-04-24 06:56:59,247 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:56:59,257 INFO sqlalchemy.engine.Engine COMMIT

In [19]:
Database.engine.execute("DROP TABLE my_table_prev")

2023-04-24 06:56:59,663 INFO sqlalchemy.engine.Engine DROP TABLE my_table_prev
2023-04-24 06:56:59,664 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-24 06:56:59,672 INFO sqlalchemy.engine.Engine COMMIT

In [20]:
Database.disconnect()

In [21]:
Database.engine.dispose()